html, body {
    height: 100%;
}

#white {
    height: 100%;
}

#colprim {
    height: 100%;
    background: #246A73;
}

#logthemelogin {
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
}

#imgsplash {
    position: relative;
    margin-top: -100px;
}

#welcome {
    color: white;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

#formtemp {
    position: relative;
    margin-top: 80px;
}

#labeluser {
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
}

#labelpass {
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
}

#btntemp {
    position: relative;
    margin-top: 40px;
}

.btn {
    background-color: #FF4D00;
    color: white;
    border-radius: 20px;
    padding: 10px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-color: #FF4D00;
    color: white;
    border-radius: 20px;
    padding: 10px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}